################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/1_BasicMediatorPattern/.vs/1_BasicMediatorPattern/FileContentIndex
/1_BasicMediatorPattern/bin/Debug/net6.0
/1_BasicMediatorPattern/obj
